{% block sidebar %}
<div class="sidebar-container border-r-2 border-black">
  <!-- Logo at the top -->
  <div class="flex items-center border-b-2 border-black w-full">
    <a href="/" class="flex items-center px-4 py-2 hover:bg-dark-beige w-full">
      <img src="/static/icon.svg" alt="Icon" class="h-8 mr-2">
      <div class="flex flex-col">
        <span class="font-black text-xl leading-none">deal</span>
        <span class="font-black text-xl leading-none">buddy</span>
      </div>
    </a>
  </div>

  <!-- Navigation items -->
  <nav class="flex-grow">
    <a 
      href="#"
      class="block py-2.5 px-4 text-black hover:bg-dark-beige transition duration-200 text-center border-b-2 border-l border-black"
      hx-get="/app/content/dashboard" 
      hx-target="#content"
      hx-push-url="/app">
        Dashboard
    </a>
  </nav>

  <!-- Logout button at the bottom -->
  <div class="mt-auto border-t-2 border-black">
    <a href="{{ auth_logout_url }}" class="block bottom-0 py-2.5 px-4 text-black bg-orange hover:bg-dark-orange transition duration-200 text-center">
        Logout
    </a>
  </div>
</div>
{% endblock %}
