{% block header %}
<header class="flex items-stretch w-full border-b-2 border-black shadow-header">
  <div class="flex items-center border-r-2 border-black w-48">
    <a href="/" class="flex items-center px-4 py-2 hover:bg-orange w-full">
      <img src="/static/icon.svg" alt="Icon" class="h-8 mr-2">
      <div class="flex flex-col">
        <span class="font-black text-xl leading-none">deal</span>
        <span class="font-black text-xl leading-none">buddy</span>
      </div>
    </a>
  </div>

  <nav class="flex items-stretch flex-grow">
    <a href="/about" class="flex-1 flex items-center justify-center px-4 py-3 hover:bg-orange border-r-2 border-black" hx-get="/about" hx-target="#content" hx-push-url="true">about us</a>
    <a href="/blog" class="flex-1 flex items-center justify-center px-4 py-3 hover:bg-orange border-x-2 border-black" hx-get="/blog" hx-target="#content" hx-push-url="true">blog</a>
    <a href="https://forms.gle/rVQWtm4v64DGbMkw5" class="flex-1 flex items-center justify-center px-4 py-3 hover:bg-orange border-l-2 border-black">contact</a>
  </nav>
  
  <div class="flex items-stretch w-48">
    <a href="/app" class="bg-orange px-6 py-3 hover:bg-dark-orange border-l-2 border-black flex items-center justify-center w-full">beta →</a>
  </div>
</header>
{% endblock %}