<div id="oms-list">
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% elif oms %}
        <h2>Your oms</h2>
        <ul>
            {% for om in oms %}
                <li>
                    <strong>{{ om.name }}</strong> ({{ om.subtype }})
                    <br>
                    Balance: ${{ "%.2f"|format(om.balances.current) }} {{ om.balances.iso_currency_code }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No oms linked yet. Click the "Connect Bank om" button to get started.</p>
    {% endif %}
</div>